@import '../../../scss/parts/reasourses.scss';

.range-track {
  background-image: linear-gradient(-90deg, $color-green, $color-green-2);
  height: 4px;
  width: 100%;
  border-radius: 10px;
  padding: 0 20px;
}

.range-thumb {
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(#000, 0.2);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s linear;
  &:focus {
    border: 2px solid $primary-color;
  }
}

.thumb-value {
  position: absolute;
  top: 100%;
  margin-top: 5px;
  background: #eee;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 25px;
  font-size: 11px;

  path {
    fill: #eeeeee !important;
  }

  svg {
    width: 30px;
    position: absolute;
    top: -18px;
  }

  &.first {
    left: 5px;

    svg {
      left: 0px;
    }
  }

  &.last {
    right: 5px;

    svg {
      right: 0px;
    }
  }
}


.ny-slider {
  padding-bottom: 20px;
}