@import '../../../scss/parts/reasourses.scss';

.note-options {
  margin-top: 1.5rem;

  > .title {
    font-weight: 300;
    font-size: size(6);
    margin-bottom: size(8);
    line-height: 32px;
    color: #3a3b44;
  }

  @include responsive(desktop) {
    width: 430px;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #c9c9c9;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    padding: size(6);
  }
}
