body {
  font-family: 'Raleway', sans-serif;
  color: $black;
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

svg {
  width: 1.5rem;
}


@for $i from 1 through 30 {
  $val: $i + 0px;
  .mb#{$i} {
    margin-bottom: $val;
  }
  .mt#{$i} {
    margin-top: $val;
  }
  .pt#{$i} {
    padding-top: $val;
  }
  .pb#{$i} {
    padding-bottom: $val;
  }
}
