body {
  font-family: 'Raleway', sans-serif;
  color: $black;
}

html {
  font-size: 16px;
}

.container {
  padding: 0 size(4);

  @include responsive(desktop) {
    max-width: 768px;
    margin: 0 auto;
    padding: 0;
  }
}

a {
  text-decoration: none;

  &:focus {
    outline: 1px dashed rgba($primary-color, 0.1);
  }
}

svg {
  width: 1.5rem;
}

*:focus {
  outline: none
}