@import '../../../scss/parts/reasourses.scss';

.page-home {
  padding-bottom: size(6);
  position: relative;

  .btn {
    margin-top: size(6);
  }

  > form > .actions {
    @include responsive(desktop) {
      display: flex;
      justify-content: space-between;
    }
  }

  .btn {
    @include responsive(mobile) {
      width: 100%;
    }   
  }

  .art {
    position: absolute;
    right: -10%;
    bottom: 0;
    z-index: -1;
  }
}
