@import '../../../scss/parts/reasourses';

.menu {
  display: flex;
  list-style: none;
  align-items: center;

  .github a{
    display: flex;
    align-items: center;
  }

  > li {
    margin-left: size(12);

    > a {
      color: $black;
      display: inline-block;
      font-weight: 500;

      &:hover {
        color: $primary-color;

        path {
          fill: $primary-color !important;
        }
      }

      &.active {
        color: $primary-color;
        font-weight: bold;
      }
    }

    .icon {
      margin-right: size();
    }
  }
}
