@import '../../../scss/parts/reasourses';

.note-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 24px;

  &.blur {
    filter: blur(8px);
    opacity: 0.5;
  }
}

.note-show {
  width: 100%;
  min-height: 269px;
  border-radius: size(2);
  background: #fff;
  border: 1px solid #b7b7b7;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.06);
  padding: size(8) size(6);
  font-size: 1.2rem;
  line-height: 1.9em;
  overflow: auto;
}

.mangane {
  position: absolute;
  top: -18px;
}
